
/RELEASE_NOTES.txt
/index.php
/api.php
/shell/
/cron.sh
/app/
/install.php
/get.php
/var/
/LICENSE_AFL.txt
/js/
/LICENSE.html
/favicon.ico
/downloader/
/mage
/dev/
/LICENSE.txt
/lib/
/includes/
/skin/
/media/
/errors/
/php.ini.sample
/index.php.sample
/cron.php
