<?xml version="1.0"?>
<config>
    <modules>
        <SH_Route>
            <version>0.1.0</version>
        </SH_Route>
    </modules>
    <global>
        <helpers>
            <sh_route>
                <class>SH_Route_Helper</class>
            </sh_route>
        </helpers>
    </global>
</config>